* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-image: url(../images/Image\ from\ iOS.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

header {
  padding: 20px;
}

header h1 {
  font-weight: bold;
  font-size: 85px;
  color: darkslategray;
  text-align: center;
  font-family: serif;
  text-shadow: 5px 4px white;
}

.search-form {
min-height: 140px;
padding: 5px 10px;
}

.search-form h2 {
color: aqua;
background-color: darkslateblue;
padding: 15px;

}

.section {
  display: flex;
  height: calc(100vh - 70px);
  padding: 20px;
}

.left-section {
  width: 30%;
  height: 100%;
}

.right-section {
  width: 70%;
  height: 100%;
  margin-left: 25px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  overflow: auto;
}

.right-section h2 {
  font-size: 28px;
  font-weight: bold;
}


.form-label {
  padding: 20px 0;
  margin: 3px 0;
  font-size: 25px;
}

.form-input {
  display: block;
  padding: 7px ;
  width: 50%;
  border: 2px solid black;
  margin: 13px 0;
  border-radius: 0.3rem;
}

.btn {
width: 50%;
padding: 7px;
border: 2px solid black;
color: darkslategray;
border-radius: 0.3rem;
}

.city-info {
  padding: 5px 10px;
  height: 75%;
  margin-top: 20px;
}

.things-to-do {
  /* height: calc(70% - 10px); */
  display: inline-flex; 
  background: rgb(61, 124, 202, .4);
}

#activity1Name, #activity2Name, #activity3Name {
  color: white;
  font-size: 30px;
  text-shadow: 3px 3px 3px black;
}

#activity1Address, #activity2Address, #activity3Address {
  color: white;
  font-size: 25px;
  text-shadow: 2px 2px 2px black;
  font-weight: bold;
}

.people-photos {
  height: calc(30% - 10px);
  margin-top: 20px;
  background: rgb(61, 124, 202, .4);
  height: 95%;
  width: 100%;
}

.saved-city {
  margin: 7px;
  margin-left: auto;
}

.city-info-heading {
  margin: 5px;
  font-size: 42px;
  color: black;
  font-weight: bold;
  color: white;
  text-shadow: 3px 3px 3px black;
}
  
.city-info-details {
  font-size: 26px;
  font-weight: bold;
  padding: 5px;
  margin: 4px;
  color: white;
  font-size: 30px;
  text-shadow: 3px 3px 3px black;
}

.hide {
    display: none;
}

.pictureSize {
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
}

.footer {
  padding: 20px;
  background-color: #6699cc;
  font-weight: bold;
}




/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  
  .section {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }

  .left-section {
    width: 100%;
    margin-bottom: 10px;
  }

  .search-form {
    width: 40%;
    margin: 0;
    display: inline-block;
  }

  .city-info {
    width: 55%;
    float: right;
    margin-top: 0;
    height: 163.5px;
    overflow: auto;
  }

  .right-section {
    width: 100%;
    margin-left: 0;
    height: 100%;
  }

  .test {
    font-size: xx-large;
  }

  .things-to-do {
    height: 360px;
  }

  .people-photos {
    height: 60%;
  }

  .city-info-heading {
  }

  .pictureSize {
    width: 60%
  }


}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

  header {
    padding-top: 0;
  }

  header h1 {
    font-size: 60px;
  }

  .search-form {
    width: 100%;
    margin-bottom: 10px;
    border: none;
  }

  .form-label {
    display: none;
  }

  .form-input {
    font-size: larger; 
  }

  .button {
    font-weight: bolder;
  }

  .city-info {
    width: 100%;
    border: none;
  }

  .things-to-do {
    display: block;
    overflow: auto;
  }

  h2 {
    text-align: center;
  }

  .footer p {
    font-size: 12px;
  }
}

@media screen and (max-width: 375px) {
  header {
    padding: 0;
  }
  
  header h1 {
    font-size: 50px;
  }

  h2 {
    padding-left: 30px;
  }

}